@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--Grey-900);
    color: var(--White);
    font-family: Inter, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-social-profile{
    background-color: var(--Grey-800);
    width: 20rem;
    height: 31.188rem;
    padding: 1rem;
    border-radius: 0.625rem;
}

.avatar-profile{
    width: 30%;
    max-width: 18rem;
    max-height: 18rem;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.8rem;
}

h3{
    font-size: 1.1rem;
    color: var(--White);
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

h5{
    font-size: 0.65rem;
    color: var(--Green);
    text-align: center;
    margin-bottom: 1.2rem;
    font-weight: 400;
}

p{
    font-size: 0.75rem;
    color: var(--White);
    text-align: center;
}

.card-social-links{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.social-items{
    width: 100%;
    height: 40px;
    border: none;
    background-color: var(--Grey-700);
    color: var(--White);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 0.8rem;
    border-radius: 6px;
    font-weight: 700;
    font-size: 0.8rem;
    margin: 0.75rem 0 0 0;
}

.social-items:hover{
    background-color: var(--Green);
    color: var(--Grey-900);
}


.attribution { font-size: 11px; text-align: center; margin-top: 1rem; }
.attribution a { color: hsl(228, 45%, 44%); }